.dark-theme .step-link {

    color: #fafafa;
}
body.dark-theme {
    background-color: #444;
    color: #e0e0e0;
}

body.dark-theme .article {
    background-color: #444; 
  
}

body.dark-theme footer {
    background-color: #333;
}

body.dark-theme .p3 {
    color: white;
}
body.dark-theme li {
    color:white;
}
body.dark-theme .step-link:hover {
    color: #007BFF; /* Изменение цвета при наведении */
}

body.dark-theme section {
    color: white;
    background-color: #444;
}
body.dark-theme .typing-container {
    background-color: #444;
   
}
body.dark-theme .charsmin {
    background-color: #444;
    
}
body.dark-theme .input-wrapper {
    background-color: #444;
    color:white;
}

body.dark-theme .login-container {
    background-color: #444;
    color:white;
}
