

.test-container {
    max-width: 600px; /* Ограничиваем максимальную ширину контейнера */
    margin: 0 auto; /* Центрируем контейнер */
    padding: 20px; /* Внутренние отступы */
    background: #ffffff; /* Белый фон */
    border-radius: 10px; /* Закругленные углы */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Тень */
}

.question {
    font-size: 22px;
    color: #ffffff; /* Белый цвет текста */
    margin-bottom: 20px;
    padding: 20px; /* Отступы */
    background: linear-gradient(135deg, #3A6073, #3A7DDA); /* Градиентный фон */
    border-radius: 10px; /* Закругление углов */
    transition: transform 0.3s; /* Анимация при наведении */
}

.question:hover {
    transform: scale(1.02); /* Увеличение при наведении */
}

.options {
    margin: 20px 0;
}

.option {
    margin-bottom: 15px;
    background: #f0f4f8; /* Светлый фон для вариантов ответа */
    padding: 15px; /* Внутренние отступы */
    border-radius: 8px; /* Закругление углов */
    transition: background 0.3s; /* Анимация при наведении */
}

.option:hover {
    background: #e1e7ec; /* Темнее при наведении */
}

.option input {
    margin-right: 10px;
}


button {
    background-color: #007BFF;
    color: white;
    padding: 12px 25px; 
    text-align: center;
    text-decoration: none;
    display: inline-block; 
    font-size: 16px; 
    margin: 10px 5px;
    transition: background-color 0.3s, transform 0.3s; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-family: 'Arial', sans-serif; 
}

button:hover {
    background-color: #0056b3; 
    transform: scale(1.05); 
}

button:active {
    transform: scale(0.95); 
}


.correct {
color: rgb(53, 212, 53);
font-weight: bold;
}

.incorrect {
color: rgb(255, 0, 0); 
font-weight: bold; 
}

