body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    position: relative;
    
}

.container {
    width: 90%;
    margin: auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    display: inline;
}

.menu-icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 40px; 
    height: 40px; 
    position: absolute;
    left: 20px; 
    top: 15px; 
    z-index: 2;
}

.bar {
    width: 100%;
    height: 4px; 
    background-color: white;
    transition: transform 0.3s ease, opacity 0.3s ease;
    margin: 2px 0;
}


nav {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #333;
    z-index: 1;
    
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

nav ul li {
    margin: 15px 0;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: background 0.3s;
}

nav a:hover {
    background-color: #555;
}


.menu-icon.open .bar:nth-child(1) {
    transform: translateY(9px) rotate(45deg); 
}

.menu-icon.open .bar:nth-child(2) {
    opacity: 0; 
}

.menu-icon.open .bar:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}


.cta-button {
    background-color: #ff8c00;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
}

.services {
    padding: 20px 0;
    text-align: center;
}

.service-item {
    margin: 20px 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.hero {
    background: url('/images/index.png') no-repeat center center / cover; 
    width: auto;
    height: calc(100vh - 80px); 
    display: flex; 
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center; 
}

.hero-text {
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    border-radius: 10px; 
}

.hero h2 {
    font-size: 2.5em; 
    margin: 0; 
}

.hero p {
    font-size: 1.2em;
    margin: 10px 0; 
}
.about {
    background-color: #f9f9f9; /* Светлый фон */
    padding: 40px;               /* Отступы внутри секции */
    border-radius: 8px;         /* Скругление углов */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Тень для глубины */
    margin: 20px auto;          /* Центрируем контейнер и добавляем отступы сверху и снизу */
    max-width: 90%;             /* Максимальная ширина контейнера в 90% от ширины экрана */
    text-align: center;         /* Центрирование текста внутри секции */
}

.about-title {
    font-size: 2em;             /* Размер заголовка */
    margin: 0 0 15px;          /* Убираем отступы, добавляем отступ снизу */
    color: #333;                /* Цвет заголовка */
}

.about p {
    font-size: 1.1em;           /* Размер текста */
    line-height: 1.6;           /* Интервал между строками */
    color: #666;                /* Цвет текста */
    margin: 0;                  /* Удаляем отступы у параграфа */
}
footer {
    background-color: #0e0707; /* Фоновый цвет футера */
    padding: 20px;             /* Отступы внутри футера */
           /* Центрирование текста */
    width: 100%;               /* Убедитесь, что футер занимает полную ширину */
}

footer p {
    margin: 0;                 /* Удаляем отступы у параграфа */
}
.TextF {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




.article-content {
    padding: 20px;             /* Отступы для текста статьи */
    flex: 1;                   /* Позволяет содержимому занимать оставшееся пространство */
}

.article-title {
    font-size: 1.5em;          /* Размер заголовка */
    margin: 0 0 10px;         /* Отступы заголовка */
}

.article-content p {
    margin: 0;                 /* Удаляем отступы у параграфа */
    font-size: 1em;            /* Размер текста */
    color: #666;               /* Цвет текста */
}
body {
    display: flex;
    flex-direction: column; /* Вертикальное размещение элементов */
    min-height: 100vh; /* Минимальная высота тела - 100% высоты окна браузера */
    margin: 0;
}

main {
    flex: 1; /* Заставляет содержимое основного блока занимать всё доступное пространство */
}

footer {
    background-color: #333; /* Цвет футера */
    color: white; /* Цвет текста */
    text-align: center; /* Центрирование текста */
    padding: 20px; /* Отступы внутри футера */
}
.articles {
    display: flex; /* Используем Flexbox для расположения статей */
    flex-direction: column; /* Расположение статей в столбик */
    align-items: center; /* Центрируем блоки статей по горизонтали */
    gap: 20px; /* Расстояние между статьями */
    margin: 0 auto; /* Центрирование контейнера статей */
    width: 100%; /* Секция занимает всю ширину */
}

.article {
    background-color: #f9f9f9; /* Цвет фона статьи */
    border-radius: 8px; /* Скругленные углы */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень для глубины */
    overflow: hidden; /* Обрезает содержимое, если оно выходит за границы */
    width: 100%; /* Ширина статьи 100% контейнера */
    max-width: 800px; /* Максимальная ширина статьи в пикселях */
    margin: 0; /* Убираем отступы */
    padding: 10px; /* Отступы внутри статьи */
}

.article-image {
    width: 150px; /* Ширина изображения */
    height: auto; /* Автоматическая высота для поддержания пропорций */
}

.article-content {
    padding: 20px; /* Отступы для текста статьи */
    display: flex; /* Используем flex для размещения текста и кнопки */
    flex-direction: column; /* Вертикальное размещение текста и кнопки */
    align-items: flex-start; /* Выравнивание содержимого по началу */
}

.more-button {
    background-color: #ff8c00; /* Оранжевый цвет кнопки */
    color: white; /* Цвет текста кнопки */
    padding: 10px 20px; /* Отступы внутри кнопки */
    text-decoration: none; /* Убираем подчеркивание */
    border-radius: 5px; /* Скругленные углы */
    margin-top: 10px; /* Отступ сверху от текста */
    transition: background-color 0.3s; /* Плавный переход цвета фона */
    width: auto; /* Автоматическая ширина кнопки */
}


/* Ваши стили */
.menu-icon {
   
    padding: 5px; /* Отступы вокруг иконки */
    border-radius: 5px; /* Закругленные углы для более эстетичного вида */
}
#navbar {
    max-height: 0; /* Изначально скрыто */
    overflow: hidden; /* Скрыть переполнение */
    opacity: 0; /* Изначально непрозрачно */
    transition: max-height 0.3s ease, opacity 0.3s ease; /* Плавный переход */
    background-color: #333; /* Цвет фона */
    padding: 10px 0; /* Отступы для фона */
}

#navbar.open {
    max-height: 500px; /* Максимальная высота меню */
    opacity: 1; /* Установить на 1 для плавной анимации появления */
}


.menu-icon {
    cursor: pointer; /* Указатель при наведении */
    display: inline-block; /* Позволяет иконке занимать пространство */
    margin: 10px; /* Отступ от других элементов */
    
}

.bar {
    display: block; /* Блочный элемент для каждой полосы */
    width: 30px; /* Ширина полос */
    height: 4px; /* Высота полос */
    background-color: #f6eded; /* Цвет полос */
    margin: 5px 0; /* Отступы между полосами */
 
    transition: all 0.5s ease; /* Плавный переход для всех стилей */
}


.vjs-big-play-button {
    position: absolute; /* Абсолютное позиционирование для вычисления центра */
    font-size: 4em; /* Размер кнопки */
}

.vjs-quality-menu {
display: inline-block;
margin-left: 10px; /* Отступ от кнопки полноэкранного режима */
position: relative;
z-index: 1; /* Чтобы меню было выше других элементов */
}

.quality-select {
padding: 5px;
border-radius: 3px;
border: 1px solid #ccc;
background: lightgray;
color: black;
}
.video-player {
    display: flex; /* Используем Flexbox для центрирования */
    justify-content: center; /* Центрируем содержимое по горизонтали */
    margin: 20px 0; /* Отступы сверху и снизу */
    align-items: center;           /* Центрируем содержимое по вертикали (если контейнер имеет высоту) */
    height: 320px;                 /* Установите высоту, если необходимо */
    
}

.video-player {
    display: flex;                /* Используем Flexbox для центрирования */
    justify-content: center;      /* Центрируем содержимое по горизонтали */
    align-items: center;          /* Центрируем содержимое по вертикали (если контейнер имеет высоту) */
    margin: 20px auto;           /* Добавляем отступы сверху и снизу и авто-отступ по бокам */
    max-width: 100%;             /* Максимальная ширина для предотвращения переполнения */
}

.video-js {
    width: 100%;                  /* Убедимся, что видео адаптируется к ширине контейнера */
    max-width: 840px;             /* Установите максимальную ширину видеоплеера */
    height: 320px;                 /* Автоматическая высота соблюдает пропорции */
}
* {
    box-sizing: border-box; /* Убедитесь, что ширина и высота учитывают отступы и границы */
}

body {
    margin: 0; /* Убираем отступы у body */
    overflow-x: hidden; /* Принудительно скрываем горизонтальную прокрутку */
}

.container {
    width: 100%; /* Контейнер максимальной ширины */
    max-width: 960px; /* Установите максимальную ширину для контейнера */
    margin: 0 auto; /* Центрируем контейнер */
    padding: 0 15px; /* Добавляем отступы по бокам для удобства */
}

.video-player {
    display: flex; 
    justify-content: center; 
    margin: 20px auto; 
    max-width: 100%; 
}
.about {
    background-color: #f4f4f4; /* Светлый фон */
    padding: 40px 20px; /* Отступы сверху/снизу и по бокам */
    text-align: center; /* Центрирование текста */
    box-sizing: border-box; /* Учет отступов при расчете ширины */
}

.about-container {
    max-width: 1200px; /* Максимальная ширина контейнера */
    margin: 0 auto; /* Центрирование контейнера */
    text-align: center; /* Центрирование текста */
}

.about-title {
    font-size: 2.5em; /* Размер шрифта для заголовка */
    margin-bottom: 20px; /* Отступ снизу */
    color: #333; /* Цвет текста */
}

.about p {
    font-size: 1.2em; /* Размер шрифта для абзаца */
    line-height: 1.6; /* Межстрочный интервал */
    color: #666; /* Цвет текста */
    max-width: 800px; /* Максимальная ширина текста */
    margin: 0 auto; /* Центрируем текст */
}
.full-width {
    width: 100%; /* Занять 100% ширины контейнера */
    height: auto; /* Сохранять пропорции */
    display: block; /* Удалить пробелы под изображением */
}
.article-border {
    border: 2px solid #3498db; /* Цвет рамки */
    border-radius: 10px; /* Закругленные углы */
    padding: 15px; /* Внутренние отступы */
    margin: 20px 0; /* Отступы между статьями */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Тень для создания эффекта поднятости */
    transition: transform 0.3s, box-shadow 0.3s; /* Анимация при наведении */
}

.article-border:hover {
    transform: translateY(-5px); /* Поднятие блока при наведении */
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2); /* Увеличение тени при наведении */
}

header {
    height: auto;
    display: flex;                     /* Используем Flexbox для выравнивания */
    justify-content: space-between;    /* Оставляем пространство между логотипом и меню */
    align-items: center;               /* Центрируем по вертикали */
    padding: 10px;                     /* Отступы для заголовка */
}

/* Контейнер для логотипа */
.logo-container {
    display: flex;
    align-items: center;               /* Выравниваем логотип по вертикали */
}

/* Текст логотипа */
.logo-text {
    font-size: 20px;                   /* Нормальный размер текста для обычных экранов */
    line-height: 1.2;                  /* Высота строки для расстояния между строками */
    text-align: mid;  
    margin-top: 25px;                   /* Выравнивание текста по левому краю */
}

/* Медиа-запрос для маленьких экранов */
@media (max-width: 600px) {
    .logo-text {
        font-size: 17px;               /* Снижаем размер текста для узких экранов */
        margin-left: 50px;  
        margin-top: 25px;           /* Увеличиваем отступ слева для смещения вправо */
    }
}
/* Медиа-запрос для маленьких экранов */
@media (max-width: 1200px) {
    .logo-text {
        font-size: 17px;               /* Снижаем размер текста для узких экранов */
        margin-left: 50px;  
        margin-top: 25px;           /* Увеличиваем отступ слева для смещения вправо */
    }
}
/* Контейнер для логотипа */
.logo-container {
    display: flex;                     /* Используем flex для горизонтального выравнивания */
    align-items: center;              /* Центрируем элементы по вертикали */
}

/* Стили для изображения логотипа */
.logo-image {
    width: 50px;                      /* Задайте ширину по вашему усмотрению */
    height: auto;                     /* Высота автоматически подстраивается пропорционально ширине */
    margin-left: 60px; 
    margin-top: 10px;             /* Отступ справа для расстояния между изображением и текстом */
}

/* Текст логотипа */
.logo-text {
    font-size: 16px;                  /* Нормальный размер текста для обычных экранов */
    line-height: 1.2;                 /* Высота строки для расстояния между строками */
    text-align: left; 
    margin-left: 2px;                /* Выравнивание текста по левому краю */
}
/* Оформление для контейнера видеоплеера */
@font-face {
    font-family: Vollkorn;
    src: url("/fonts/Vollkorn-ExtraBold.ttf");
    font-weight: normal;
}
.menu-ui {
    font-family: Vollkorn;

}
.full-width {
    width: 100%;
    margin: 0;
}

/* Стили для секции "О компании" */
.about {
    background-color: #f9f9f9; /* Легкий фон для выделения */
    padding: 50px 20px; /* Отступы сверху и снизу */
}

.about-container {
    max-width: 1200px; /* Ограничение ширины текста */
    margin: 0 auto; /* Центрирование контейнера */
    text-align: center; /* Центрирование текста */
}

/* Стили для секции видеоплеера */


.video-js {
    justify-content: center; 
    border-radius: 10px; /* Закругленные углы */
}

/* Другие стили для адаптивности */
@media (max-width: 768px) {
    .about {
        padding: 30px 10px; /* Меньшие отступы для мобильных устройств */
    }
    .video-player {
        padding: 10px 0; /* Меньшие отступы для мобильных устройств */
    }
    .p {
        padding: 0 0;
    }
}
.video-player {
    background-color: #ffffff; /* Белый фон для видеоплеера */
    padding: 20px 0; /* Отступы сверху и снизу */
    display: flex; /* Используем Flexbox */
    justify-content: center; /* Центрируем содержимое по горизонтали */
    align-items: center; /* Центрируем содержимое по вертикали (при необходимости) */
}

.video-player video {
    max-width: 100%; /* Убедитесь, что видео не превышает ширину родителя */
    border-radius: 10px; /* Закругленные углы */
}
.full-width {
    width: 100%; /* Полная ширина */
    margin: 0; /* Убираем маргины */
    padding: 0; /* Убираем паддинги */
}

/* Стили для секции "О компании" */
.about {
    background-color: #f9f9f9; /* Легкий фон для выделения */
    padding: 50px 20px; /* Отступы сверху и снизу */
    box-sizing: border-box; /* Учет отступов при расчете ширины */
}

.about-container {
    max-width: 1200px; /* Ограничение ширины текста */
    margin: 0 auto; /* Центрирование контейнера */
    text-align: center; /* Центрирование текста */
}
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}

.about {
    background-color:#f9f9f9;
    padding: 50px 20px; /* Отступы сверху и снизу */
    box-sizing: border-box; /* Учет отступов при расчете ширины */
    width: 100%; /* Обеспечивает полную ширину */
    max-width: 1700px;
}

.social-icon img {
    width: 2em;  /* Ширина иконок равна тексту */
    height: auto; /* Автоматическая высота для сохранения пропорций */
}
.social-icons {
    display: flex;                  /* Flexbox для расположения иконок в ряд */
    gap: 10px;                     /* Отступ между иконками */
}

.social-icon {
    font-size: 1em;               /* Размер шрифта для иконок (равный размеру текста) */
    color: #000;                  /* Цвет иконок */
    text-decoration: none;        /* Убираем подчеркивание */
}

.social-icon:hover {
    color: #007BFF; /* Цвет при наведении */
}





.statistics {
    width: 100%; /* Занимаем полную ширину */
    background-color: #ffffff; /* Цвет фона блока */
    padding: 40px 10px; /* Отступы */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Тень */
    border-radius: 10px; /* Закругление углов */
    display: flex; /* Используем flex для расположения элеметов */
    justify-content: center; /* Выравнивание по центру */
    flex-wrap: wrap; /* Перенос элементов при необходимости */
    margin: 0; /* Убираем отступы */
}

.statistics-title {
    width: 100%; /* Заголовок занимает полную ширину */
    text-align: center; /* Выравнивание по центру */
    font-size: 28px; /* Размер заголовка */
    margin-bottom: 20px; /* Отступ снизу */
    color: #333; /* Цвет текста */
}

.statistic-item {
    background-color: #e9f2ff; /* Цвет фона для каждого элемента */
    border: 2px solid #007BFF; /* Цвет границы */
    border-radius: 10px; /* Закругление углов */
    padding: 20px; /* Внутренние отступы */
    flex: 1 1 150px; /* Адаптивность, минимальная ширина - 150px */
    max-width: 200px; /* Максимальная ширина блока */
    margin: 10px; /* Отступ между элементами */
    transition: transform 0.3s; /* Плавный эффект при наведении */
    text-align: center; /* Выравнивание текста по центру */
}

.statistic-item:hover {
    transform: scale(1.05); /* Увеличение размера при наведении */
}

.statistic-item h3 {
    font-size: 36px; /* Размер числа */
    margin: 0; /* Убираем отступы */
    color: #000; /* Цвет числа - черный */
}

.statistic-item p {
    margin: 0; /* Убираем отступы */
    font-size: 16px; /* Размер текста под цифрами */
    color: #666; /* Цвет текста */
}

/* Media query для мобильных устройств */
@media (max-width: 480px) {
    .statistics {
        padding: 20px; /* Меньшие отступы на мобильных */
    }
    .statistic-item {
        flex: 1 1 100%; /* Занимаем полную ширину на мобильных */
        max-width: none; /* Убираем ограничение максимальной ширины */
    }
}

body.dark-theme .statistics {

    background: #444;
    color: #f4f4f4;
}

/* Темная тема */
body.dark-theme {
    background: #333;
    color: #f4f4f4;
}

body.dark-theme nav {
    background: #333;
}

body.dark-theme .step {
    background: #555;
}

body.dark-theme .comments, body.dark-theme .reactions{
    background: #444;
    color: #f4f4f4;
}

body.dark-theme .comment {
    background: #555;
}

body.dark-theme header {
    color: #f4f4f4;
}

body.dark-theme .contents {
    background: #555; /* Добавлен фон для содержания в темной теме */
}



.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #3d4042;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Стиль для уведомления */
.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 15px;
    display: none; /* Скрыто по умолчанию */
    z-index: 1000;
    animation: fadeIn 0.5s;
    display: flex;
    align-items: center; /* Центрирование по вертикали */
}

/* Стиль для треугольника */
.triangle {
    position: relative;
    width: 24px; /* Ширина треугольника */
    height: 24px; /* Высота треугольника */
    margin-right: 10px; /* Отступ между треугольником и текстом */
}

/* Стиль для текста уведомления */
.notification p {
    margin: 0;
}

/* Анимация появления */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.profile-button {
    display: inline-block;
    padding: 10px 20px;
    margin-left: auto; /* Отодвигает кнопку вправо */
    background: linear-gradient(90deg, #1f6b21, #1d6a20); /* Зеленый градиент */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s;
}

.profile-button:hover {
    background: linear-gradient(90deg,  #046509, #388e3c); /* Темнее при наведении */
}